<a href="https://colab.research.google.com/github/daayvm/EDD1358_2021/blob/master/12oct1358.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
#Diccionarios continuacion
clientebanc = {
            "id" : 1,
            "nombres" : ["Dayra","Antonia"],
            "paterno" : "Velasco",
            "materno" : "Martell",
            "telefonos" : {
                        "casa": 5512364856,
                        "celular" : 551333333,
                        "trabajo" : 551234569
                           },
               "activo" : True,
               "balance" : 2345.84,
               "tarjetas" : ({"Tipo" : "debito", "Saldo" : 1523655},
                             {"Tipo" : "credito", "Saldo" : 2600})
              }
print(clientebanc)
#clientebanc["balance"] = clientebanc["balance"] -100
clientebanc["balance"] -= 1008 
print(clientebanc)  

clientebanc["tarjetas"] = ({ "tipo" :"Debito" , "saldo": 12000},
                           { "tipo" :"credito" , "saldo": 12052},
                           { "tipo" :"credito" , "nievel": "oro","saldo":50000})
print(clientebanc)                           
clientebanc["direccion"]= {"calle":"rancho", "nume": 128}
print(clientebanc) 
clientebanc.pop("tarjetas")       
print(clientebanc)

{'id': 1, 'nombres': ['Dayra', 'Antonia'], 'paterno': 'Velasco', 'materno': 'Martell', 'telefonos': {'casa': 5512364856, 'celular': 551333333, 'trabajo': 551234569}, 'activo': True, 'balance': 2345.84, 'tarjetas': ({'Tipo': 'debito', 'Saldo': 1523655}, {'Tipo': 'credito', 'Saldo': 2600})}
{'id': 1, 'nombres': ['Dayra', 'Antonia'], 'paterno': 'Velasco', 'materno': 'Martell', 'telefonos': {'casa': 5512364856, 'celular': 551333333, 'trabajo': 551234569}, 'activo': True, 'balance': 1337.8400000000001, 'tarjetas': ({'Tipo': 'debito', 'Saldo': 1523655}, {'Tipo': 'credito', 'Saldo': 2600})}
{'id': 1, 'nombres': ['Dayra', 'Antonia'], 'paterno': 'Velasco', 'materno': 'Martell', 'telefonos': {'casa': 5512364856, 'celular': 551333333, 'trabajo': 551234569}, 'activo': True, 'balance': 1337.8400000000001, 'tarjetas': ({'tipo': 'Debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 12052}, {'tipo': 'credito', 'nievel': 'oro', 'saldo': 50000})}
{'id': 1, 'nombres': ['Dayra', 'Antonia'], 'paterno': 'Velasco', 'materno': 'Martell', 'telefonos': {'casa': 5512364856, 'celular': 551333333, 'trabajo': 551234569}, 'activo': True, 'balance': 1337.8400000000001, 'tarjetas': ({'tipo': 'Debito', 'saldo': 12000}, {'tipo': 'credito', 'saldo': 12052}, {'tipo': 'credito', 'nievel': 'oro', 'saldo': 50000}), 'direccion': {'calle': 'rancho', 'nume': 128}}
{'id': 1, 'nombres': ['Dayra', 'Antonia'], 'paterno': 'Velasco', 'materno': 'Martell', 'telefonos': {'casa': 5512364856, 'celular': 551333333, 'trabajo': 551234569}, 'activo': True, 'balance': 1337.8400000000001, 'direccion': {'calle': 'rancho', 'nume': 128}}

In [26]:
llaves =  clientebanc.keys()
print(llaves)
#imprime la lista de las llaves del dirccionario
print(type(llaves))
for x in llaves:
  print(x)
print("-----------")
##regresa pares del lado derecho
valores = clientebanc.values()
print(valores)
for v in valores:
  print (v)
print("-----------")
#regresa la lista de tuplas
pares = clientebanc.items()
print(pares)
for p in pares:
  print(f" {p[0]} = {p[1]}")

dict_keys(['id', 'nombres', 'paterno', 'materno', 'telefonos', 'activo', 'balance', 'direccion'])
<class 'dict_keys'>
id
nombres
paterno
materno
telefonos
activo
balance
direccion
-----------
dict_values([1, ['Dayra', 'Antonia'], 'Velasco', 'Martell', {'casa': 5512364856, 'celular': 551333333, 'trabajo': 551234569}, True, 1337.8400000000001, {'calle': 'rancho', 'nume': 128}])
1
['Dayra', 'Antonia']
Velasco
Martell
{'casa': 5512364856, 'celular': 551333333, 'trabajo': 551234569}
True
1337.8400000000001
{'calle': 'rancho', 'nume': 128}
-----------
dict_items([('id', 1), ('nombres', ['Dayra', 'Antonia']), ('paterno', 'Velasco'), ('materno', 'Martell'), ('telefonos', {'casa': 5512364856, 'celular': 551333333, 'trabajo': 551234569}), ('activo', True), ('balance', 1337.8400000000001), ('direccion', {'calle': 'rancho', 'nume': 128})])
 id = 1
 nombres = ['Dayra', 'Antonia']
 paterno = Velasco
 materno = Martell
 telefonos = {'casa': 5512364856, 'celular': 551333333, 'trabajo': 551234569}
 activo = True
 balance = 1337.8400000000001
 direccion = {'calle': 'rancho', 'nume': 128}

In [28]:
fruta = {"nombre":"manzana","color": "rojo", "estado":"Chihuahua"}
fcaracteristica = {"vitamina" : "D"}
#con update le madas el otro diccionario para agregar
fruta.update(fcaracteristica)
print(fruta)

{'nombre': 'manzana', 'color': 'rojo', 'estado': 'Chihuahua', 'vitamina': 'D'}

##Funciones
* Recibe de 0 - n argymentos de entrada
* Regresa solo un valor, pero puede ser nulo/NONE (python)
* Tiene un nombre unico en el contexto.
* Se pueden hacer solo dos cosas con funciones :
    - Definirlas
    - Llamarla

In [39]:
def suma (a,b):
    return a+b
##Si enceuntra dos es redefinida
#def suma (x,y):
    #return None
def saludar():
    print("Hola, como estas?")
    return None ##puede o no 
x = 10
y = 20
c = suma(x,y)

print(c)
saludar()

30
Hola, como estas?

## None = nulo en otros lenguajes
#None y las funciones
* Aprovechar el uso de none en paso de paramentros

In [50]:
def calcular ( base , veces):
    if base !=  None:
        res = base * veces 
    else:
        res = "desconocido"
    return res

print(calcular(8,5))
print(calcular(None,5))

40
desconocido